{{ range $host, $containers := groupBy $ "Env.VIRTUAL_HOST" }}
upstream {{ $host }} {

{{ range $index, $value := $containers }}
    {{ with $address := index $value.Addresses 0 }}
    server {{ $value.Hostname }}:{{ $address.Port }};
    {{ end }}
{{ end }}

}

server {
    listen 443 default_server ssl http2;
    listen [::]:443 ssl http2;
    server_name momo.myvalue.ru;
    ssl_certificate /etc/nginx/ssl/live/momo.myvalue.ru/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/live/momo.myvalue.ru/privkey.pem;

    location / {
        root   /usr/src/app/static/momo-store;
        index  index.html;
        try_files $uri $uri/ /index.html;
    }

    location ~ (/products|auth|categories) {
        proxy_pass    https://{{ $host }};
    }
}

# HTTP redirect
server {
    listen 80;
    listen [::]:80;
    server_name momo.myvalue.ru www.momo.myvalue.ru;
    server_tokens off;
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
    location / {
        return 301 https://momo.myvalue.ru$request_uri;
    }
}
{{ end }}

